
<div style="text-align: center"><h3>Admin Board</h3></div><div class="p-5">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <form class="form-inline">
      <label>search with : </label>
      <input class="form-control mr-sm-2" #s type="search" (change)="setkey(s.value)" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="search()">Search</button>
    </form>
  </nav>

  <div class="list-group">
    <div *ngFor="let user of users" style="cursor:pointer" routerLink="/profile/{{user.id}}" class="list-group-item list-group-item-action flex-column align-items-start ">
      <div style="display: -webkit-inline-box"><img style="width: 200px" src="http://localhost/photos/{{user.imageUrl}}">
        <div style="margin-left: 20px"><div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{user.username}}</h5>
        </div>
          </div>
        <div style="margin-left: 900px;"><button class="btn btn-danger" (click)="deleteuser(user.username)">delete</button></div>
      </div>

    </div>
  </div>
</div>
