<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul>
        <li [ngStyle]="{'margin-top':user== true ? '18px' : '0px'}"><i class="fa fa-phone"></i> +256 71 456 890</li>
        <li><i class="fa fa-envelope-o"></i> evenemenety@gmail.com</li>
      </ul>
    </div>
    <div class="fl_right">
      <ul>
        <li><a routerLink="/"><i class="fa fa-lg fa-home"></i></a></li>
        <li *ngIf="!user"><a routerLink="/login">Login</a></li>
        <li *ngIf="!user"><a routerLink="/register">Register</a></li>
       <li *ngIf="user"><div class="wrapper row2">
         <nav id="mainav" class="hoc clear">
           <ul class="clear">
             <li><a class="drop" routerLink="/myprofile">Profile</a>
               <ul>
                 <li><a routerLink="/myprofile">My Events</a></li>
                 <li><a routerLink="/edit">Edit My Account</a></li>
                 <li><a href="#">Log Out</a></li>
               </ul>
             </li>
           </ul>
         </nav>
       </div>
    </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a routerLink="/" style="color: #9E4195">Evenemenety</a></h1>
      <span>Discover events according to your music taste</span>
    </div>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <nav id="mainav" class="hoc clear">
    <ul class="clear">
      <li class="active"><a routerLink="/">Home</a></li>
      <li><a routerLink="/search">Events</a></li>
      <li><a routerLink="/contact">Contact Us</a></li>
    </ul>
  </nav>
</div>


