<div style="background-image: url('../../assets/images/party1.jpg')"><div class="row" style="margin: 0 auto;padding-left: 500px">

<div class="main-content">
  <h1 class="wew fadeInUp"  style="text-align: center; font-family: Comic Sans MS" data-wew-delay="0.2s">Contact
    <span>Us</span>
  </h1>
  <div class="container">

    <div class="contact-wrap">
      <div class="row">
        <div class="col-md-4 column">
          <div class="contact-now">
            <div class="contact">
              <div class="information">
                <div class="contact-icon">
                  <i class="fa fa-map-marker"></i>
                </div>

                <strong style="font-family: Lucida Console">Adress:</strong>
                <p style="font-family: Lucida Console">cite olympique
                </p>
              </div>
            </div>

            <!-- Contact Info -->
            <div class="contact">
              <div class="information">
                <div class="contact-icon">
                  <i class="fa fa-envelope"></i>

                </div>
                <br>
                <strong style="font-family: Lucida Console">E-MAIL</strong>
                <p style="font-family: Lucida Console">Evenementy@gmail.com</p>

              </div>
            </div>
            <!-- Contact Info -->
            <div class="contact">
              <div class="information">
                <div class="contact-icon">
                  <i class="fa fa-phone"></i>
                </div>
                <br>
                <strong style="font-family: Lucida Console; color: #9F9F9F">Phone number</strong>
                <p style="font-family: Lucida Console; color: #9F9F9F">71484512 </p>
                <p style="font-family: Lucida Console; color: #9F9F9F">22484856</p>
              </div>
            </div>
            <div class="contact">
              <div class="information">
                <div class="contact-icon">
                  <i class="fa fa-fax"></i>
                </div>
                <strong style="font-family: Lucida Console; color: #9F9F9F">Fax</strong>
                <p style="font-family: Lucida Console; color: #9F9F9F">71548248</p>
              </div>
            </div>

            <!-- Contact Info -->
          </div>
          <!-- Contact Now -->
        </div>


        <div class="col-md-8 column">
          <div class="contact-form">



            <div class="wew fadeInUp" data-wew-delay="0.2s">
              <form name="form" style="width:70%;" id="contact-form">
                <div class="form-group">
                  <label style="font-family: Lucida Console">Name</label>
                  <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" required />
                  <div class="invalid-feedback">
                    <div  style="color:#ed1c24">ce champ est obligatoire</div>
                  </div>
                </div>
                <div class="form-group">
                  <label style="font-family: Lucida Console">Last Name</label>
                  <input type="text" class="form-control" name="lastName"  [(ngModel)]="model.lastName" required />
                  <div class="invalid-feedback">
                    <div style="color:#ed1c24">ce champ est obligatoire</div>
                  </div>
                </div>
                <div class="form-group">
                  <label style="font-family: Lucida Console;">Phone Number</label>
                  <input type="text" class="form-control" name="phone" [(ngModel)]="model.telephone" required />
                  <div class="invalid-feedback">
                    <div style="color:#ed1c24">ce champ est obligatoire</div>
                  </div>
                </div>
                <div class="form-group">
                  <label style="font-family: Lucida Console">Email</label>
                  <input type="text" class="form-control" name="email" [(ngModel)]="model.email" required />
                  <div class="invalid-feedback">
                    <div style="color:#ed1c24">Ce champ est obligatoire</div>
                    <div style="color:#ed1c24">email invalide</div>
                  </div>
                </div>
                <div class="form-group">
                  <label style="font-family: Lucida Console; color: #9F9F9F">Subject</label>
                  <input type="subject" class="form-control" name="subject" [(ngModel)]="model.sujet" required maxlength="50" />
                  <div class="invalid-feedback">
                    <div style="color:#ed1c24">ce champ est obligatoire</div>
                    <div style="color:#ed1c24">le sujet ne peut pas depasser 50 caractères</div>
                  </div>
                </div>
                <div class="form-group">
                  <label style="font-family: Lucida Console; color: #9F9F9F">Message</label>
                  <textarea class="form-control " name="message" rows="3" placeholder="Write anything" [(ngModel)]="model.contenu"
                            required></textarea>
                  <div class="invalid-feedback">
                    <div style="color:#ed1c24">ce champ est obligatoire</div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" name="submit" value="Submit" id="submit_form" class="btn btn-danger btn-lg" style="padding-left:20px;padding-right:20px;background-color:#ed1c23d3" (click)="onSubmit()">Envoyer</button>
                </div>
              </form>
            </div>
            <!--
              <div *ngif="test" class="alert alert-success">
                <strong>Success!</strong> Indicates a successful or positive action.
              </div>
              -->

            <h3 style="padding-left:20px;padding-top:30px; font-family: Comic Sans MS; color: ghostwhite;" class="wew fadeInUp" data-wew-delay="0.2s">
              Or follow us on
            </h3>
            <div class="contact">
              <div class="information">
                <div class="contact-icon" style="padding-left:200px">
                  <a href="{{contact?.facebook}}" class="btn-floating btn-large btn-fb" style="padding:10px;color:#434c9a" target="_blank ">
                    <i class="fa fa-facebook fa-2x"></i>
                  </a>

                  <a href="{{contact?.twitter}}" class="btn-floating btn-large btn-tw" style="padding:10px;color:#434c9a" target="_blank ">
                    <i class="fa fa-twitter fa-2x"></i>
                  </a>
                  <a href="{{contact?.linkedin}}" class="btn-floating btn-large btn-li" style="padding:10px;color:#434c9a" target="_blank ">
                    <i class="fa fa-linkedin fa-2x"></i>
                  </a>
                  <a href="#" class="btn-floating btn-large btn-email" style="padding:10px;color:#434c9a" target="_blank ">
                    <i class="fa fa-envelope fa-2x"></i>

                  </a>
                </div>
              </div>
            </div>

          </div>

        </div>



      </div>

    </div>
  </div>

</div></div>

  <div class="map ">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.8274643764116!2d10.196524716500226!3d36.846607985382164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34c8ac35b839%3A0x722100afa6a21acc!2sR%C3%A9sidence+des+Lilas%2C+Boulevard+de+la+Terre%2C+Tunis!5e0!3m2!1sfr!2stn!4v1549913362511"
            width="100% " height="400 " frameborder="0 " style="border:0 " allowfullscreen></iframe>

  </div>
</div>
