<div style="background-image: url('../../assets/images/party2.jpeg')"><div class="p-5" *ngIf="!formon">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <button class="navbar-brand btn btn-warning" *ngIf="app.authority" (click)="formonoff()">Add Covoiturage</button>
  </nav>

  <div class="list-group">
    <a *ngFor="let cov of covs" class="list-group-item list-group-item-action flex-column align-items-start ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Car:{{cov.car}}</h5>
        <small class="btn" *ngIf="app.authority">s'inscrire</small>
      </div>
      <p class="mb-1" routerLink="/profile/{{cov.user.username}}">user:{{cov.user.username}}</p>
      <p class="mb-1">price:{{cov.price}}</p>
      <small>Number of Places:{{cov.nombrePlaces}}</small>
    </a>
  </div>
</div>
<!----------------   Formulaire Ajout covoiturage commence ici  --------------->
<div *ngIf="formon" style="height: fit-content"><div style="position: absolute;width: 50px"><a (click)="formoffon()"><img src="../../assets/images/39764.png"></a></div>
  <div id="Form" style="text-align: -webkit-center">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-horizontal" enctype="multipart/form-data" (submit)="ajouterCvt()">


          <div class="form-group">
            <label  class="col-sm-4 control-label">car'sname</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" name="titre" [(ngModel)]="model.car"  required>
            </div>
          </div>

          <div class="form-group">
            <label  class="col-sm-4 control-label">price</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" name="dh"  [(ngModel)]="model.price" required>
            </div>
          </div>

          <div class="form-group">
            <label  class="col-sm-4 control-label">nombre de places</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" name="dh"  [(ngModel)]="model.nombrePlaces" required>
            </div>
          </div>

          <div class="form-group">
            <label  class="col-sm-4 control-label">meetingPlace</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" name="contenu"  [(ngModel)]="model.meetingPlace" required>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
              <button type="submit" name="ok" class="btn btn-primary">Ajouter covoiturage</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div></div>
</div>
