<!--inner content start-->
<hr>
<div style="text-align: center"><div class="wrapper row2" style="text-align: center">
  <nav id="mainav" class="hoc clear">
    <ul class="clear">
      <li><a href="https://www.rumbletalk.com/client/chat.php?ohqDBc0:" target="_blank">chatroom</a></li><li><a routerLink="/cov/{{event.id}}">carpooling</a>
      </li>
    </ul>
  </nav>
</div></div>
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Blog List start -->
        <div class="blog-container blogdetail">
          <ul class="blog-listing">
            <li>
              <div class="postimg" style="text-align: center"><img src="../../assets/images/{{event.imageUrl}}" alt="Blog Title">
              </div>
              <div class="post-detail">
                <div class="blog-post-heading margin-top30">
                  <h4>{{event.name}}</h4>
                  <div class="post-info-meta">Date: <span>{{event.startingTime}}</span>&nbsp;&nbsp;&nbsp;&nbsp; By : <span style="cursor: pointer" routerLink="/profile/{{event.user.username}}">{{event.user.name}} </span> &nbsp;&nbsp;&nbsp;&nbsp;Category : <span>Movers, Shifting, Packers</span></div>
                </div>
                <p> {{event.description}}</p> </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin: 0 auto;text-align: center;margin-bottom: 20px;font-size: 30px"><p>Rate This Event!!</p>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span></div>
<!--inner content end-->
