<div style="background-image: url('../../assets/images/profile.jpg');height: fit-content"><div class="col-md-4 column" style="margin: 0 auto;margin-bottom: 20px">
  <div class="contact-now">
    <div class="contact">
      <div class="information">
        <img src="http://localhost/photos/{{user.imageUrl}}" style="width: 350px">
      </div>
    </div>
    <div class="contact">
      <div class="information">


        <strong>name:</strong>
        <p>{{user.name}}
        </p>
      </div>
    </div>
    <div class="contact">
      <div class="information">


        <strong>username:</strong>
        <p>{{user.username}}
        </p>
      </div>
    </div>
    <!-- Contact Info -->
    <div class="contact">
      <div class="information">

        <br>
        <strong>ADRESSE E-MAIL</strong>
        <p>{{user.email}}</p>

      </div>
    </div>
    <!-- Contact Info -->
    <div class="contact">
      <div class="information">
        <strong>Password</strong>
        <p>{{user.password}}</p>
      </div>
    </div></div></div>
<div style="margin: 0 auto;text-align: center;margin-bottom: 20px;font-size: 30px"><p>Rate User!!</p>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span></div>
</div>
